<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<title>Scrapin By</title>
		<script src="https://code.jquery.com/jquery.js"></script>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>

    <title>{{title}}</title>
	</head>
		<body>
	<nav class="navbar navbar-expand-sm bg-white fixed-top p-3 navvy">
  <!-- Brand/logo -->
  <a class="navbar-brand" href="/">
    Save Article's 'n Notes!
  </a>
  
  <!-- Links -->
  <ul class="nav navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="/home">Go Home!</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/articles">Saved Articles</a>
      </li>
      <li>
        <button type="button" class="btn btn-primary" id="scrape-btn">Scrape Articles</button>
        <button type="button" class="btn btn-primary" id="clear-btn">Clear Articles</button>
      </li>
  </ul>
</nav>

		{{{ body }}}
	</body>
<script src="app.js"></script>
</html>
