<nav class="navbar navbar-expand-sm bg-white fixed-top p-3 navvy">
  <!-- Brand/logo -->
  <a class="navbar-brand" href="/">
    Save Article's 'n Notes!
  </a>
  
  <!-- Links -->
  <ul class="nav navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="/scrape">Scrape Articles</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/articles">Saved Articles</a>
      </li>
  </ul>
</nav>